body{
    margin: 20px;
    height: 100vh;
    background-image: url(bilder/brandi-redd-aJTiW00qqtI-unsplash.jpg);
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    margin-left: 400px;
    margin-right: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 10px;
}

#search-box{
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-right: 200px;
    margin-left: 200px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    font-weight: bold;
}

#search-box > p{
    margin-bottom: 5px;
}


.box{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.box > h4{
    margin-bottom: 6px;
}

.teacher-wrapper > div{
    margin-top: 30px;
}

.teacher-wrapper > div > p{
    padding: 12px;
    background-color: rgba(255, 193, 162, 0.9);
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
    border-radius: 10px;
}

.teacher-wrapper > div:nth-child(2) > div{
    display: flex;
}

.teacher-wrapper > div:nth-child(2) > div > div{
    margin-top: 0px;
    padding: 12px;
    background-color: rgba(191, 184, 175, 0.4);
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
    border-radius: 10px;
    width: 200px;
}

.teacher-wrapper > div:nth-child(2) > div > div > p{
    margin: 0px;
}

.student-result{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}

.student-result > div{
    padding-left: 10px;
    border-radius: 10px;
    background-color: rgba(191, 184, 175, 0.4);
    border: 0.5px solid black;
    font-size: 10pt;
    padding-bottom: 8px;
    padding-top: 8px;
}

.student-result > .passed{
    background-color:rgba(173, 255, 173, 0.9)
}


.student-result > div > p{
    margin: 0;
}