body{
    margin: 20px;
    height: 100vh;
    background-image: url(bilder/brandi-redd-aJTiW00qqtI-unsplash.jpg);
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dark{
    background-image: url(bilder/kelly-sikkema-tk9RQCq5eQo-unsplash.jpg);
    background-size: contain;
}

h1{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 10px;
}

h3:hover{
    color: rgb(149, 149, 255);
    cursor: pointer;
}

#search-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    font-weight: bold;
}

#select{
    position: absolute;
    left: 30px;
}

#search-box > p{
    margin-bottom: 5px;
}


.box{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 80vw;
}

.box > h3{
    margin-bottom: 6px;
}

.hidden-course-result{
    display: none;
}

.course-result{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}

.course-result > div{
    padding-left: 10px;
    border-radius: 10px;
    background-color: rgba(191, 184, 175, 0.4);;
    border: 0.5px solid black;
    font-size: 10pt;
    padding-bottom: 10px;
    padding-top: 10px;
}

.course-result > .passed{
    background-color: rgba(173, 255, 173, 0.9);
}


.course-result > div > p{
    margin: 0;
}


